hr {
    color: #6ef7c9;
}

body {
    text-align: justify;
}

.prenom {
    color: #00695C;
}
.dev{
  text-decoration:underline;
}
h2, h1 {
    font-size: 1.7em;
    margin-bottom:0;
}
h3{
    font-size:1.3em;
}
body p, body a, body li {
    font-size: 1em;
}
#centrage-img {
    text-align: center;
}

#elementContact  .margeG {
      text-align: left;
}

   img {
        height: 130px;
        width: 130px;
        margin-top: 20px;
        margin-bottom:0;
    }

    .tailleIcones i {
        color: #6ef7c9;
        font-size: 0.5em;
        margin-right: 5px;
    }

    ul {
        list-style-type: circle;
        padding-left:0;
    }

    #elementFormations, #elementCompetences {
        padding-right: 15px;
    }

    #conteneurPage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 1px solid grey;
        width: auto;
        margin: auto;
    }

    #conteneurG, a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #00695C;
        max-width:200px;
    }

   #conteneurG p, a {
       color: whitesmoke;
        }

    #conteneurD {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
    }

    #iconesLoisirs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: whitesmoke;
    }

    #elementContact + p {
        text-align: center;
    }


    #conteneurG h2 {
        background-color: #6ef7c9;
        color: black;
        text-align: center;
    }

    #conteneurD h3 {
        color: #00695C;


    }
    .cont {
        display: flex;

    }

    .el {
        padding-right: 10px;
        font-weight: bold;
        min-width: 160px;
       }


    #elementFormations ul {
        padding-left: 75px;
    }

    #elementCompetences ul {
        padding-left: 75px;
    }


    #recommandations {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    #velo, #puzzle, #marche {
        border: 2px solid white;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50px;
        height: 50px;
        width: 50px;
        margin: 2px;
    }

    #velo {
        background-image: url("bike.png");
    }

    #puzzle {
        background-image: url("puzzle.png");
    }

    #marche {
        background-image: url("walk.png");
    }

    #elementTitre {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .margeG {
        padding: 10px;
    }


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<PETITS ECRANS>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<§§§§§§§§§§§§§>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


@media all and (max-width:480px) {
    h2,h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 2.2em;
        color: #00695C;
    }

    img {
        display: none;
    }
    body p, body a, body li{
        font-size:2em;
    }
     #conteneurPage {
        flex-direction: column;
             }

    #conteneurG, a {
          max-width: 100%;
    }

    #conteneurD {
      padding-left: 10px;
    }

    .cont {
      flex-direction: column;
        padding-right: 10px;
    }

    #elementFormations {
        padding-right: 10px;
    }

     .el {
          min-width: 50px;
    }

    #elementFormations ul {
        padding-left: 25px;
    }
    #elementContact .margeG {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap

    }
    .margeG p, .margeG a{
        padding:15px;
        margin-top:0;
    }

        #recommandations {
            flex-direction:column;
          }
   }

/*!!<<<<<<<<<<<<<<<<<<<<<<<!!!!!ECRANS MOYENS!!!!!!>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
    <<<<<<<<<<<<<<<<<<<<<<<<<!!!!!!!!!!!!!!!>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media all and (min-width: 480px) and (max-width: 800px) {
    h2,h1 {
        font-size: 2.2em;
    }
    h3{
        font-size:1.5em;
    }
    body p, body a, body li {
        font-size: 1.2em;
    }
     #conteneurPage {
        flex-direction: column;
        width:auto;
    }

    img {
        display: none;
    }
    #conteneurG, a {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #00695C;
        color: whitesmoke;
        max-width: 100%;
    }


    #conteneurD {
      padding-left: 15px;
    }


    #iconesLoisirs {
        flex-direction: column;
        min-height: 200px;
    }

    #elementMoi p {
        max-width: 150px;
    }



    .el {
        min-width: 150px;
    }

    #elementFormations ul {
        padding-left: 45px;
    }

    #recommandations {
        justify-content: space-between;
        margin-left: 1.5rem;
        margin-right: 14rem;
    }
    #recommandations p {
        margin-top: 0;
        margin-bottom: 5px;
    }
    #elementLoisirs {
        height: 100px;
    }

   .margeG {
        padding-bottom: 40px;
    }
    #pouraligner{
        padding-right:50px;
    }

}
